*{
    /* background-color: #f36c21; */
}

#cardWord{
    cursor: pointer;
    transform-style: preserve-3d;
    position: relative;
    height: 400px;
}
.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: orangered;
    transition: transform 0.5s ease-in-out;
    /* transform-origin: right; */
}
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    /* opacity: 0; */
    transition: transform 0.5s ease-in-out;
    /* transition: opacity 1.4s ease-in; */
    transform: rotateY(180deg);
    /* transition-delay: .3s; */
}
#dutchWord, #englishWord{
    /* top: 50%;
    transform: translateY(-50%); */

}

footer{
    padding-top: 45px;
}
